.projeto {
    padding-top: 100px; 
    min-height: 65vh; 
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto; 
  }
  
  .projeto .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .projeto .text-primary {
    color: #007bff;
  }
  
  .projeto .col-md-6, .projeto .col-12 {
    padding: 15px;
  }
  
  .projeto .text-center {
    text-align: center;
  }
  
  .projeto .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .projeto .mt-5 {
    margin-top: 3rem;
  }
  
  .projeto .imagem-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  